.App {
    display: flex;
    justify-content: center;
    height: 100%;
}

button {
    border-radius: 5px;
    border : none;
}

.patisserieQuizz {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.patisserieQuizz h1 {
    margin: 24px 0;
    width: 100%;
    font-family: 'lobster', cursive;
    font-size: 4em;
    text-align: center;
}

h2 {
    font-family: 'lobster', cursive;
    font-size: 2em;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quizz {
    background-color: rgb(21, 20, 35);
    padding: 24px;
    border-radius: 5px;
}

.quizz .definition{
    margin : 24px 0;
}

.reponseBar {
    display: flex;
    justify-content: space-between;
    gap : 16px;
    flex-wrap: wrap;
}

.reponseBar input {
    line-height: 24px;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding : 8px 0;
}

button {
    width: 45%;
    padding: 8px;
    font-family: 'lobster', cursive;
    background-color: rgb(206, 206, 216);
    font-size: 1.5em;
    transition-duration: 0.3s;
}

button:hover {
    translate: 0px -4px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.543);
    cursor: pointer;
}

button.primary {
    background: var(--primary-color);
    color: white;
    font-size: 1.5em;
    font-family: 'lobster', cursive;
}

footer {
    text-align: center;
}